#submitButton{
    background-color: rgb(44, 130, 75);
    color:white;
    border-radius: 5%;
    text-decoration: none;
    outline: none;
    font-weight:5px;
    border:3px solid white;
    display: none;
}

#submitButton:hover{
    filter: brightness(110%);
} 

#submitButton:active{
    background-color: white;
    color:rgb(44, 130, 75);
    font-weight:5px;
}


#search{
    border-radius: 0.25rem;
    border: 2px solid #ccc;
    outline: none;
    transition: 0.2s;
    margin-top: 20px;
}

#search:focus{
    border: 2px solid rgb(44, 130, 75);
}

.search-svg{
    width: 27px;
    height: 27px;
}
.search-svg:hover{
    fill:rgb(44, 124, 73);
}

.search-svg:active{
    transform: scale(0.90);
    top: 3px;
    fill: rgb(22, 70, 40);
}